<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<section th:fragment="footer" class="section-footer">
<div class="c-container">
  <div class="social">
    <h1 class="h1-footer fade-in">Synclet</h1>
    <p class="p-footer fade-in">Synclet simplifies data management by syncing files from multiple sources effortlessly to your PC. </p>
    <div class="flex-horizontal">
      <div class="circle fade-in"><a href="https://instagram.com"><img class="icon" th:src="@{/img/icon-footer/instagram-icon.svg}" alt="Instagram"></a></div>
      <div class="circle fade-in"><a href="https://facebook.com"><img class="icon" th:src="@{/img/icon-footer/facebook-icon.svg}" alt="Facebook"></a></div>
      <div class="circle fade-in"><a href="https://linkedin.com"><img class="icon" th:src="@{/img/icon-footer/linkedin-icon.svg}" alt="LinkedIn"></a></div>
    </div>
  </div>
  <div class="links">
    <a class="column-a fade-in" href="#homePage">Home</a>
    <a class="column-a fade-in" href="#services">Service</a>
    <a class="column-a fade-in" href="#">Reviews</a>
    <a class="column-a fade-in" href="#">Benefit</a>
  </div>
  <div class="privacy-policy">
    <a class="column-a fade-in" href="#">Help center</a>
    <a class="column-a fade-in" href="#">Terms of service</a>
    <a class="column-a fade-in" href="#">Legal</a>
    <a class="column-a fade-in" href="#">Privacy policy</a>
    </div>
  <div class="contact">
    <button class="btn-getstarted fade-in">Get Started Now</button>
    <button class="btn-learnmore fade-in">Learn More Here</button>
  </div>
</div>
  <div class="copyright">
    <p class="copyright-text fade-in">
      © All rights reserved. Made by Synclet
    </p>
  </div>
</section>
</body>
</html>