<!doctype html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


    <section th:fragment="header" class="section-header">
        <h1 class="h1-header">Synclet</h1>
        <span class="span-header">
    <a class="a-header" href="#homePage">Home</a>
    <a class="a-header" href="#services">Services</a>
            <a class="a-header" href="#benefit">Benefits</a>
    <a class="a-header" href="#">Reviews</a>
    <a class="a-header" href="#">Contact</a>
  </span>
        <button class="btn-header">Sync Now</button>
    </section>

</body>
</html>