<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon/favicon.svg}">
    <title>Home - Synclet</title>
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link rel="stylesheet" th:href="@{/home.css}">
    <link rel="stylesheet" th:href="@{/services.css}">
    <link rel="stylesheet" th:href="@{/benefit.css}">
    <link rel="stylesheet" th:href="@{/reviews.css}">

</head>
<body>
<main class="main-bg">
    <header class="fade-in" th:insert="~{header/header :: header}"></header>
    <section th:insert="~{home/homePage :: homePage}"></section>
    <section th:insert="~{home/services :: services}"></section>
    <section th:insert="~{home/benefit :: benefit}"></section>
    <section th:insert="~{home/reviews :: reviews}"></section>
<!--    <section th:insert="~{home/contact :: contact}"></section>-->
</main>
<footer th:insert="~{footer/footer :: footer}"></footer>
<script>
        // document.addEventListener('contextmenu', function(e) {
        //     e.preventDefault();
        // });
</script>
<script th:src="@{/js/animation.js}"></script>

</body>
</html>