<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div th:fragment="benefit" class="benefit-section" id="benefit">
  <h2 class="h2-benefit fade-in">Why Sycnlet?</h2>
<section class="container-benefits">
  <div class="benefit-div"><img class="img-benefit fade-in" th:src="@{/img/icon-benefits/wheel.png}" alt="img-benefits"><h3 class="h3-benefit fade-in">Time Saver</h3><p class="p-benefit-under-h3 fade-in">Automated sync saves time and effort, enhancing productivity with effortless file management.</p></div>
  <div class="benefit-div"><img class="img-benefit fade-in" th:src="@{/img/icon-benefits/light-bulb-50.png}" alt="img-benefits"><h3 class="h3-benefit fade-in">User Friendly</h3><p class="p-benefit-under-h3 fade-in">Intuitive interface simplifies task management, improving workflow and efficiency.</p></div>
  <div class="benefit-div"><img class="img-benefit fade-in" th:src="@{/img/icon-benefits/rocket-50.png}" alt="img-benefits"><h3 class="h3-benefit fade-in">Performance Made Easy</h3><p class="p-benefit-under-h3 fade-in">Track performance effortlessly and ensure smooth operations with intuitive monitoring tools.</p></div>
  <div class="benefit-div"><img class="img-benefit fade-in" th:src="@{/img/icon-benefits/check-mark-50.png}" alt="img-benefits"><h3 class="h3-benefit fade-in">Easy Integration</h3><p class="p-benefit-under-h3 fade-in">Seamless integration across platforms enhances connectivity and simplifies file access for users.</p></div>
</section>
<section class="container-cards">
  <h2 class="h2-benefit fade-in">Sync Smarter, Not Harder</h2>
  <div class="cards-div">
    <div class="card-body">
      <div class="body-circle fade-in"><img class="img-card fade-in" th:src="@{/img/icon-cards/chart-50.png}"></div>
      <h1 class="h1-card fade-in count-up" data-target="37">0</h1>
      <p class="p-card fade-in">of files synchronized</p>
    </div>
    <div class="card-body">
      <div class="body-circle fade-in"><img class="img-card fade-in" th:src="@{/img/icon-cards/coins-50.png}"></div>
      <h1 class="h1-card fade-in count-up" data-target="100">0</h1>
      <p class="p-card fade-in">free for all users</p>
    </div>
    <div class="card-body">
      <div class="body-circle fade-in"><img class="img-card fade-in" th:src="@{/img/icon-cards/monitoring-50.png}"></div>
      <h1 class="h1-card fade-in count-up" data-target="24" data-speed="500">0</h1>
      <p class="p-card fade-in">real-time monitoring</p>
    </div>
    <div class="card-body">
      <div class="body-circle fade-in">
        <img class="img-card fade-in" th:src="@{/img/icon-cards/clock-50.png}">
      </div>
      <h1 class="h1-card fade-in count-up" data-target="∞" data-speed="80">0</h1>
      <p class="p-card fade-in">multi-protocol support</p>
    </div>
  </div>
</section>
  </div>
</body>
</html>